[amzn2-core]
name=Amazon Linux 2 core repository
baseurl=http://{{ groups['bastion_az1'][0] }}/amzn2-core
gpgcheck=0
enabled=1

[amzn2extra-docker]
name=Amazon Extras repo for docker
baseurl=http://{{ groups['bastion_az1'][0] }}/amzn2extra-docker
gpgcheck=0
enabled=1

